.big{
    font-size: 48px;
}
.red{
    color: red;
}
.block{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.text{
    font-style: italic;
    color: blueviolet;
}
.container{
    width: 200px;
    height: 200px;
    background: aqua;
}